@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

html, body {
  height: 100%;
}

body {
  max-width: 1440px;
  background-color: #674baf;
  background-image: url(/images/bg-desktop.svg);
  padding: 20px 40px;
}

.header-hubber img {
  width: 17%;
}